<!-- <div class="loginContainer">
    <div class="left">
        <div class="imgContainer">
            <img src="../../../assets/undraw_new_ideas_re_asn4.svg" alt="">
        </div>
    </div>
    <div class="right">b </div>
</div> -->
<!-- <div class="loginContainer"></div> -->
<div class="loginContainer1">
    <div class="pic">
        <div class="glass">
            <!-- <div class="logo">
                <p style="font-weight: 700;">THEGOOD</p>
                <p style="font-weight: 300;">NETWORK</p>
            </div>
            <div class="line"></div> -->
            <div class="text">
                <!-- <p class="haut">We are</p> -->
                <p class="milieu">Application de gestion de devoir</p>
                <!-- <p class="bas">
                    <span>10 Million+ people have joined our network.</span>
                    <span>We inite you to join the tribe.</span>
                </p> -->
            </div>
            <!-- <div class="footer">
                <p style="font-size: 21px;">Already have an account?</p>
                <p><a href="#">Sign in</a></p>
            </div> -->
        </div>
    </div>
    <div class="side">
        <form class="formulaire" ngForm (submit)="onSubmit();" >
            <h1>Connexion</h1>
            <div class="input">
                <label for="nom">Nom</label>
                <input type="text" name="nom" id="nom" class="inp-control" placeholder="Pseudo de connexion" [(ngModel)]="nom">
            </div>
            <div class="input">
                <label for="pass">Mot de passe de connexion</label>
                <input type="password" name="pass" id="pass" class="inp-control" placeholder="Mot de passe" [(ngModel)]="password"> 
            </div>
            
            
            <div class="button">
                <button type="submit">Se connecter
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" style="fill:rgb(255, 255, 255);"><path d="M11.293 17.293L12.707 18.707 19.414 12 12.707 5.293 11.293 6.707 15.586 11 6 11 6 13 15.586 13z"></path></svg>
                </button>
            </div>          
            <p> <small> Pas de compte ? S'inscrire <a href="/register">ici</a></small></p>
        </form>
    </div>
</div>
