  <!-- <a routerLink="/add" class="ajouterBtn">
    <button mat-flat-button color="accent">
      Ajouter Assignment
    </button>
  </a> -->

  <!-- <h2>Liste des devoirs :</h2> -->

  <!-- <div class="barrePagination">
    <p>Page courante : {{page}}, assignments visibles : {{pagingCounter}} - {{pagingCounter + limit-1}}, nbPages total {{totalPages}}</p>
    <p>Nb assignments par page : <input type="range" min=5 max=100 [(ngModel)]="limit" (change)="getAssignments(token)">
      {{limit}}
    </p>

    <button mat-flat-button color="primary" [disabled]="!hasPrevPage" (click)="premierePage()">Première page</button>
    &nbsp;

    <button mat-flat-button color="primary"
            (click)="pagePrecedente()"
            [disabled]="!hasPrevPage"
    >Page précédente</button>
    &nbsp;
    <button mat-flat-button color="primary" (click)="pageSuivante()" [disabled]="!hasNextPage">Page suivante</button>
    &nbsp;
    <button mat-flat-button color="primary" (click)="dernierePage()" [disabled]="!hasNextPage">Dernière page</button>
  </div> -->

  <!--
  <table mat-table [dataSource]="assignments" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> Id </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="nom">
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let element"> {{element.nom}} </td>
    </ng-container>

    <ng-container matColumnDef="dateDeRendu">
      <th mat-header-cell *matHeaderCellDef> Date de Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.dateDeRendu}} </td>
    </ng-container>

    <ng-container matColumnDef="rendu">
      <th mat-header-cell *matHeaderCellDef> Rendu </th>
      <td mat-cell *matCellDef="let element"> {{element.rendu}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
-->
<mat-drawer-container class="containerNgezaBe">
  <mat-drawer mode="side" opened>
    <div class="logoApp">
      <span style="color: #ef8b42;">A</span>ssignments<span style="color: #ef8b42;">A</span>pp
    </div>
    <div class="menu">
      <ul>
        <li> <img src="../../assets/maison.png" width="13px" alt=""> Home</li>
      </ul>
    </div>
    <div class="avatar">

    </div>
  </mat-drawer>
  <mat-drawer-content>
    <div class="headerContain">
      <a routerLink="/add" class="ajouterBtn">
        <button mat-flat-button>
          Ajouter un devoir
        </button>
      </a>
    </div>
    <div class="containerMain">
    <main class="container">
     
      <div cdkDropListGroup>
        <div class="example-container">
          <h2 class="sousTitre"> <span class="statusToDo"></span> Non rendu</h2>
    
          <div
            cdkDropList
            [cdkDropListData]="nonRendu"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of nonRendu" cdkDrag>
              <mat-card class="example-card">
                <mat-card-content>
                  <p>
                    {{ item.nom }}
                  </p>
                </mat-card-content>
                <img mat-card-image src="{{  getMatierebyId(item.idMatiere)?.image }}" alt="Photo de la matière">
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="accent" [ngClass]="{
                    web: getMatierebyId(item.idMatiere)?.nom == 'Web',
                    cloud: getMatierebyId(item.idMatiere)?.nom == 'Cloud'
                    
                  }" selected>{{  getMatierebyId(item.idMatiere)?.nom }}</mat-chip>
                </mat-chip-list>
                <div class="calendrierProf">
    
                  <div class="calendarPart">
                    Le devoir doit être rendu par <span class="nomEleve"> {{  getElevebyId(item.idEleve)?.nom }} </span> &nbsp; le <span class="dateDeRendu"> {{ item.dateDeRendu | date:'longDate'}}</span>
                  </div>
                  <div class="profPart">
                    <img src="{{  getProfbyId(getMatierebyId(item.idMatiere)!.idProf)?.photo }}" alt="" width="30px" height="30px" style="border-radius: 100%;">
                  </div>
                </div>
              </mat-card>
            </div>
          </div>
        </div>
    
        <div class="example-container">
          <h2 class="sousTitre"><span class="statusDone"></span>Rendu</h2>
    
          <div
            cdkDropList
            [cdkDropListData]="rendu"
            class="example-list"
            (cdkDropListDropped)="drop($event)">
            <div class="example-box" *ngFor="let item of rendu" cdkDrag>
              <mat-card class="example-card">
                <mat-card-content>
                  <p>
                    {{ item.nom }}
                  </p>
                </mat-card-content>
                <img mat-card-image src="{{  getMatierebyId(item.idMatiere)?.image }}" alt="Photo de la matière">
                <mat-chip-list aria-label="Fish selection">
                  <mat-chip color="accent"
                  [ngClass]="{
                    web: getMatierebyId(item.idMatiere)?.nom == 'Web',
                    cloud: getMatierebyId(item.idMatiere)?.nom == 'Cloud'
                    
                  }" selected>{{  getMatierebyId(item.idMatiere)?.nom }}</mat-chip>
                </mat-chip-list>
                <div class="calendrierProf">
    
                  <div class="calendarPart">
                    Le devoir a été rendu par <span class="nomEleve"> {{  getElevebyId(item.idEleve)?.nom }} </span>. La date limite de rendu est le <span class="dateDeRendu"> {{ item.dateDeRendu | date:'longDate'}}</span>
                  </div>
                  <div class="profPart">
                    <img src="{{  getProfbyId(getMatierebyId(item.idMatiere)!.idProf)?.photo }}" alt="" width="30px" height="30px" style="border-radius: 100%;">
                  </div>
                </div>
              </mat-card>
            </div>
          
          </div>
        </div>
      </div>
    </main>
    <main class="container2">
      <mat-card class="demo-inline-calendar-card" (click)="getAssignmentsByDate()">
        <mat-calendar [dateClass]="dateClass" [(selected)]="selectedDate"   ></mat-calendar>
      </mat-card>
      <!-- <p>Selected date: {{selectedDate | date:'shortDate'}}</p> -->
      <div class="afaireToday">
        <mat-card *ngFor="let item of afaireToday">
          <div class="bgAfaireToday"[ngClass]="{
            web: item.idMatiere == 1,
            cloud: item.idMatiere == 2
            
          }" >
          <p class="titreAfaireToday">
            {{item.nom}} 
          </p>
           <small *ngIf="item.rendu">Ce devoir est déjà rendu.</small>
           <small *ngIf="!item.rendu">Ce devoir n'est pas encore rendu.</small>
          </div>
        </mat-card>
      </div>
      
    </main>
  </div>

  </mat-drawer-content>
</mat-drawer-container>




<!-- <cdk-virtual-scroll-viewport itemSize="150" class="example-viewport" #scroller>
  <mat-list *cdkVirtualFor="let assignment of assignments" class="example-item">
    <nav>
      <a href="/assignment/{{assignment.id}}">
        <h3 mat-subheader>{{assignment.dateDeRendu | date:"dd/MM/yy"}}</h3>
        <p>
          Matiere :  {{  getMatierebyId(assignment.idMatiere)?.nom }}.
        </p>
        <p>
          eleve :  {{  getElevebyId(assignment.idEleve)?.nom }}.
        </p>
        <p>
          prof :  {{  getProfbyId(getMatierebyId(assignment.idMatiere)!.idProf)?.nom }}.
        </p>
        <mat-list-item>
          <div *ngIf="assignment.rendu; else nonsoumis" appRendu>
            <p>
              Devoir intitulé {{assignment.nom}}.
            </p>
            <p> Note : {{ assignment.note }}/20</p>
          </div>
        
          <ng-template #nonsoumis>
            <p appNonRendu>Le devoir {{assignment.nom}} n'a pas encore été rendu.</p>
          </ng-template>
          <mat-divider></mat-divider>
        </mat-list-item>
        
      </a>
    </nav>
  </mat-list>
</cdk-virtual-scroll-viewport> -->



