<div class="ngezaBe">
  <main class="container">
    <h1 class="titre">Liste des devoirs 📚</h1>
    <div cdkDropListGroup>
      <div class="example-container">
        <h5 class="sousTitre">A FAIRE</h5>

        <div
          cdkDropList
          [cdkDropListData]="nonRendu"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of nonRendu" cdkDrag>
            <mat-card class="example-card">
              <img mat-card-image src="../../assets/pexels-luis-gomes-546819.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  {{ item.nom }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>

      <div class="example-container">
        <h5 class="sousTitre">RENDU</h5>

        <div
          cdkDropList
          [cdkDropListData]="rendu"
          class="example-list"
          (cdkDropListDropped)="drop($event)"
        >
          <div class="example-box" *ngFor="let item of rendu" cdkDrag>
            <mat-card class="example-card">
              <img mat-card-image src="../../assets/909.jpg" alt="Photo of a Shiba Inu">
              <mat-card-content>
                <p>
                  {{ item.nom }}
                </p>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </div>
    </div>
  </main>
  <div class="sideRight">
    <h2 class="titre">A rendre aujourd'hui 🗓️</h2>
  </div>
</div>
