@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.rendu {
  color:green;
}

.logoApp{
  font-family: 'Pacifico', cursive;
  display: flex;
justify-content: center;
align-items: center;
margin-top: 1em;
}
.nonRendu {
  color:red;
  background-color: yellow;
  border: 2px dashed orange;
}

a{
  text-decoration: none;
}
.ngezaBe{
  display: flex;
}

.container {
  display:flex;
  flex-direction: column;
  width: 70%;
  padding: 1em;
}
.sideRight{
  width: 30%;
  padding: 1em;
  border-left: #e4e4e4 1px solid;
}

.ajouterBtn {
  align-self: flex-end;
  
}
.ajouterBtn button{
  background-color: #ef8b42;
  font-family: "Poppins",sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
}
.menu ul{
  margin-top: 7.1em;
display: flex;
justify-content: flex-start;
align-items: center;
list-style: none;
font-size: 12px;
font-family: "Poppins";
font-weight: bold;
padding: 0 3em;
}

.menu ul li{
  display: flex;
justify-content: center;
align-items: center;
gap: 1em;

}

table {
  width: 100%;
}

.mat-column-id {
  color:red;
}

.example-viewport {
  height: 400px;
  width: 100%;
  border: 1px solid black;
}

.example-item {
  height: 150px;
}

.example-container {
  width: 48%;
  max-width: 100%;
  margin: 0 1%;
  display: inline-block;
  vertical-align: top;
}
.containerNgezaBe{
  width: 100%;
  background: #f8f6f5;
}

.mat-drawer {
  width: 200px;
}
.headerContain{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  /* padding: 0 2em; */
  margin: 1em;
  margin-top: 2em;
  width: 90%;
}

.example-list {
  /* border: solid 1px #ccc; */
  min-height: 60px;
  background: #f8f6f5;
  border-radius: 4px;
  overflow: hidden;
  display: block;
}

.example-box {
  padding: 20px 10px;
  /* border: solid 1px #ccc; */
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: #f8f6f5;
  font-size: 14px;
  margin-bottom: 1em;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
              0 8px 10px 1px rgba(0, 0, 0, 0.14),
              0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}



.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.titre{
  color: #1B2D3E;
  margin-bottom: 1em;
}

.sousTitre{
  color: #464646;
  font-size: 14px;
margin: 0 1em;
display: flex;
align-items: center;
gap: 0.5em;
}

.statusToDo,.statusDone{
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: block;
}
.statusToDo{
  background-color: #0085ff;
}
.statusDone{
  background-color: #0bb927;
}

.mat-card{
  border-radius: 15px;
  width: 100%;
}

.mat-card:not([class*="mat-elevation-z"]) {
  box-shadow: unset;
}

.mat-card-image {
  max-height: 200px;
  height: 150px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
  margin: 0 auto;
  margin-bottom: 1em;
}
.mat-card-image:first-child {
  margin-top: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.mat-card-content{
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0.5em;
}

.mat-chip.mat-standard-chip.mat-chip-selected.mat-accent{
  font-family: "Poppins", sans-serif;
  font-size: 10px;
  background-color: #d9b496;
  padding: 5px 15px;
  margin: 0;
}

.cloud{
  background-color: #5b8d8d !important;
}

.web{
  background-color: #d9b496 !important;
}

#calendarIcon{
  width: 15px;
  height: 15px;
  margin-right: 1em;
}
.calendarPart{
  margin-top: 1em;
  font-family: "Poppins", sans-serif;
  color: gray;
  font-size: 12px;
  /* font-weight: 700; */
}
.nomEleve{
  text-transform: capitalize;
  font-style: italic;
  font-weight: bold;
  color: #464646;
}
.dateDeRendu{
  white-space: nowrap;
  color: #9b2727;
}
.calendrierProf{
  display: flex;
align-items: center;
justify-content: space-between;
gap: 1em;
}

.containerMain{
  display: flex;
  justify-content: center;
  margin-top: 1em;
  width: 85%;
margin: 0 auto;
}

.container2{
  width: 30%;
  /* padding: 1em; */
  padding-top: 3.5em;
}

/* .demo-inline-calendar-card {
  width: 80%;
  margin: 0 auto;
} */

button.datyMisyEvent{
  background-color: #138b83;
  border-radius: 100% ;
}

button.datyMisyEvent .mat-calendar-body-cell-content{
  color: #fff;
}

.afaireToday{
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.afaireToday .mat-card{
  border-radius: 10px;
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

.titreAfaireToday{
  font-size: 14px;
  font-family: 'Poppins',sans-serif;
}

.bgAfaireToday{
  width: 100%;
  height: 100%;
  padding: 16px;
  border-radius: 10px;
  color: white;
}