<app-navbar></app-navbar>

<div class="container" *ngIf="assignment">
  <h2>Edition du devoir {{ assignment.nom }}</h2>
  <form
    ngForm
    class="form"
    #formupdate
    (submit)="onSaveAssignment(); formupdate.reset()"
  >
    <!-- <mat-form-field>
      <input
        matInput
        placeholder="Edition du nom"
        [(ngModel)]="nomAssignment"
        name="assignment-name"
      />
    </mat-form-field> -->
    <div class="groupInput">
      <label for="assignment-note"
        >Nom du devoir <span style="color: red">*</span></label
      >
      <input
        [(ngModel)]="nomAssignment"
        name="assignment-name"
        placeholder="Edition du nom"
      />
    </div>
    <!-- <mat-form-field>
      <input
        matInput
        [matDatepicker]="picker"
        placeholder="Edition de la date"
        [(ngModel)]="dateDeRendu"
        name="date"
      />
      <mat-datepicker-toggle matSuffix [for]="picker"> </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field> -->

    <div class="groupInput">
      <label for="assignment-note"
        >Date de rendu <span style="color: red">*</span></label
      >
      <div class="datePicker">
        <input
          [matDatepicker]="picker"
          placeholder="Edition de la date"
          [(ngModel)]="dateDeRendu"
          name="date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker">
        </mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </div>
    </div>
    <div *ngIf="assignment.rendu">
      <!-- <mat-form-field>
        <input
          matInput
          placeholder="Modifier la note"
          [(ngModel)]="note"
          name="assignment-note"
        />
      </mat-form-field> -->
      <div class="groupInput">
        <label for="assignment-note"
          >Note <span style="color: red">*</span></label
        >
        <input
          type="number"
          [(ngModel)]="note"
          name="assignment-note"
          placeholder="Modifier la note"
        />
      </div>
      <div class="groupInput">
        <label for="assignment-note">Remarques </label>
        <textarea
          rows="5"
          type="number"
          placeholder="Ajouter des remarques"
          [(ngModel)]="remarques"
          name="assignment-remarques"
        ></textarea>
      </div>
      <!-- <mat-form-field>
        <input
          matInput
          placeholder="Ajouter des remarques"
          [(ngModel)]="remarques"
          name="assignment-remarques"
        />
      </mat-form-field> -->
    </div>

    <!-- <input matInput placeholder="Modifier la matiere" [(ngModel)]="idMatiere" name="assignment-matiere"> -->
    <div class="groupInput">
      <label for="assignment-note"
        >Matière <span style="color: red">*</span></label
      >
      <select name="idMatiere" [(ngModel)]="idMatiere">
        <option *ngFor="let option of matieres" [value]="option.id">
          {{ option.nom }}
        </option>
      </select>
    </div>

    <div class="groupInput">
      <label for="assignment-note"
        >Etudiant<span style="color: red">*</span></label
      >

      <select name="idEleve" [(ngModel)]="idEleve">
        <option *ngFor="let option of eleves" [value]="option.id">
          {{ option.nom }}
        </option>
      </select>
    </div>

    <br />

    <!-- <mat-form-field>
      <input matInput placeholder="Modifier Auteur" [(ngModel)]="idEleve" name="assignment-eleve">
    </mat-form-field> -->

    <button
      mat-raised-button
      color="primary"
      [disabled]="!nomAssignment || !dateDeRendu"
    >
      Sauver
    </button>
  </form>
</div>
